*{margin: 0;padding: 0;}
li {list-style: none}
a{text-decoration: none;}
body{background-color: #efefef;}
.clearfix::after {content:'';display: block;clear: both;}
[data-x]{
    transform: translateY(0);
    transition: all 1s;
}
[data-x].offanimate{
    transform: translateY(100px)
}

/* @keyframes slideUp {
    0%{
        transform: translatey(-30px)
    }
    100% {
        transform: translateX(0)
    }
} */
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    fill:#fff;
 }
/* top */
.navBarMain{position: fixed;top: 0;width: 100%;z-index:6;box-shadow: 0 0 10px rgba(0,0,0,.25);}
.navBarMain .sticky{background-color: #fff; padding: 5px 16px;}
.sticky .menu a{color: #666}
.navBar {padding: 10px 16px; transition: all .5s;}
.banner {
    width: 100%;
    height: 515px;
    background:url(images/rs-cover.jpg) no-repeat center center;
}
.banner .mask {width: 100%; height: 515px;background: rgba(0,0,0,.7);}
header .logo {float: left;}
header nav {float: right;}
.logo {font-size: 24px;font-family: "Arial Black";}
.logo .rs {color: #e6686a;}
.logo .card {color: #9a9da2;}

.menu{padding-top:5px;}
.menu ul>li {color: #b7b7b7;float: left;margin: 0 17px;border-bottom: 3px solid transparent;border-top: 3px solid transparent;position: relative;}
.menu li a {font-size: 14px;color: inherit;font-weight: bold;padding: 5px 0;}
.menu ul > li.active > a::after {content: "";display: block; height:3px; width: 100%; background-color:#e06567;animation: menuSlide 0.5s;}
.menu ul > li.highlight > a::after {content: "";display: block; height:3px; width: 100%; background-color:#e06567;animation: menuSlide 0.5s;}
@keyframes menuSlide{
    0%{ width: 0%}
    100%{width: 100%}
}
.menu .second-menu {
    display: none;
    background-color: #fff;
    position: absolute;
    color: #3d4451;
}
.menu ul > li.active .second-menu{
    display: block;
    right: 0;
    animation: submenu 0.5s;
}
.menu ul > li.active .second-menu {
    white-space: nowrap;
    text-align: center;
    padding: 5px;
    color: #999;
    margin:0;
    border:0;
}
@keyframes submenu {
    0% {
        transform: translateX(-20%)
    }
    100%{
        transform: translateX(0)
    }
}

/* main */
.personal{max-width: 950px;margin: 0 auto;background-color:#fff;margin-top:-340px}
.personal .content {padding: 50px;}
.personal .my-pic {
    float: left;
    margin-right: 65px;
}
.personal .my-info {
    width: 470px;
    float:left;
}
.personal .my-info .welcome {
    background-color:#e6686a;
    color: #fff;
    padding: 4px 16px;
    position: relative;
    margin-bottom: 18px;
    display: inline-block;
}
.personal .my-info .welcome .triangle {
    position: absolute;
    border: 10px solid transparent;
    border-left-color: #e6686a;
    top: 20px;
    left: 10px;
}
.personal .my-info hr {
    margin: 30px 0;
    width: 100%;
    border: none;
    border-top: 1px solid #dedede;
}
.personal .my-info dt,.personal .my-info dd{float:left;padding: 5px 0;}
.personal .my-info dt {width: 30%;font-weight: bold;}
.personal .my-info dd {width: 70%;color: #9da0a7}
main .media {background-color:#e6686a;text-align: center;}
main .media a svg{width: 30px;height: 30px;}
main .media a{display: inline-block; padding: 15px;}

main .download-btn,.self-info {text-align: center;}
main .download-btn a {
    font-size: 14px;
    line-height: 16px;
    padding: 21px 55px;
    border: 1px solid #cdcfd1;
    background: #efefef;
    display: inline-block;
    border-radius: 2px;
    color: #3d4451;
    font-weight: bold;
    margin: 32px 0;
}
main .self-info {
    font-family: kai;
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
    font-family: kai;
    line-height: 1.8;
    font-size: 18px;
}
.skills,.projects{
    max-width: 940px;
    margin: 0 auto;
    margin-top: 60px;
}

.skills h3,.projects h3{
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}
.skills ol {
    background-color: #fff;
    padding: 42px 50px 10px;
    margin-top: 30px;
}
.skills ol li {
    float: left;
    width: 48%;
}
.skills ol li h3 {
    font-size: 14px;
}
.skills ol li:nth-child(even) {
    float: right;
}
.offanimate .progressBar .innerBar {transform: translateX(-100%)}
.skills .progressBar {overflow:hidden;height: 5px; background-color:#FAE1E1;border-radius: 2px;margin: 5px 0 40px 0;}

.skills .progressBar .innerBar{height: 100%;background-color:#E6686A;border-radius:2px;transform: translateX(0);transition:all 1s;}

.projects {text-align: center;}
.projects nav {margin: 32px auto 0 auto;display: inline-block;}
.projects ol li {float:left;margin-left: 40px;cursor:pointer;}
.projects ol li:nth-child(1){margin-left:0;}
.projects .light-bar {width: 100%;height:5px;border-radius: 2px;background-color: #fff;margin-top: 5px;margin-bottom: 28px;}
.projects .light-bar .light-inner {background-color: #E6686A; width: 50px;border-radius: 2px; height: 5px;transition: all 0.3s;}
.projects .light-bar .state-0{width: 50px;}
.projects .light-bar .state-1{width: 70px; margin-left: 50px;}
.projects .light-bar .state-2{width: 56px; margin-left: 120px;}
.works {position:relative}
.works div{ position: absolute}
.works .small{left: 660px;}
.works .small:nth-last-child(1) {top: 310px}

/* loading */
.site-welcome {
    display:none;
    position:fixed;
    width: 100%;
    height: 100%;
    top:0;left:0;right:0;bottom:0;
    background-color:rgba(0,0,0,.4);
    z-index:10;
    justify-content: center;
    align-items: center;
}
.site-welcome.active{display: flex;}
.loading{
    width: 100px;
    height: 100px;
    position: relative;
}
.loading::before,.loading::after {
    content:"";
    width:0px;
    height: 0px;
    border-radius: 50%;
    background-color: #000;
    animation: loading 1.5s linear infinite;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
    margin:auto;
}
.loading::after{
    animation-delay: 0.75s;
}
@keyframes loading{
    0%{
        width: 0;
        height:0;
        opacity: 1;
    }
    100%{
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}

